body {
  margin: 0 auto;
  background: #efefef;
  padding-bottom: 5%;
}

.content {
  display: flex;
}

header {
  width: 100%;
  margin: 0 auto;
}

.header-top {
  font-family: 'Pathway Gothic One', sans-serif;
  height: 120px;
  color: white;
  background: rgb(105, 188, 152);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 70px;
  /*padding: 20px;*/
  /*border-bottom: 4px solid gray;*/
}

.header-bottom {
    background: #B8B8B8;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-bottom > p {
  padding: 15px;
  color: white;
  font-size: 16px;
  width: 60%;
  line-height: 20px;
}

nav {
  padding: 10px;
}

header a {
  /*display: inline;*/
  /*width: 60%;*/
  color: black;
  margin-right: 20px;
  font-size: 22px;
}

header a:hover {
  color: white;
}


footer {
  height: 80px;
  color: white;
  background: rgb(105, 188, 152);
  /*margin-top: 40px;*/
}

header img {
  height: 100%;
  margin-left: 30px;
}

header p {
  font-size: 24px;
  padding-right: 30px;
}

.header-top div {
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 0px;
  display: inline-block;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

h3 {
  font-size: 14px;
  margin-left: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 20px;
}

.article {
  width: 100%;
  margin-bottom: 20px;
  background: white;
  border: 3px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #e2e2e2;
  color: black;
  display: flex;
  flex-direction: column;
}

.article:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}

.article {
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.article-main {
  padding: 20px;
}

.article-main-text {
  text-align: right;
}

.article-footer {
  height: 20px;
  border-top: 1px solid #e2e2e2;
  font-size: 20px;
  padding: 20px;
  color: rgb(105, 188, 152);
}

.article-footer > p {
  display: inline;
  margin-left: 5px;
  color: black;
}

.article img {
  height: 170px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.fa-thumbs-up {
  color: rgb(105, 188, 152;
}

.fa-thumbs-down {
  color: #ff8080;
}
